.button {
  display: inline-block;
  font-family: $mp-bold;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  width: 290px;
  padding: 10px 40px;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
}
