.contacts {

  &__list {
    @include list;
    margin-bottom: 25px;
  }

  &__item {
    position: relative;
    padding: 5px 0 5px 40px;
    margin-bottom: 10px;

    & a {
      font-family: $mp-regular;
      font-size: 18px;
      color: #fff;
      text-decoration: none;
    }

    &::before {
      position: absolute;
      content: '';
      width: 32px;
      height: 32px;
      top: 0;
      left: 0;
      background-color: #fff;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--mail {

      &::before {
        background: transparent url(/img/letter.png) center no-repeat;
      }
    }

    &--phone {

      &::before {
        background: transparent url(/img/mabila.png) center no-repeat;
      }
    }
  }
}
