.contact-form {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
   
    &__input-wrapper {
        position: relative;
        padding-top: 20px;
        padding-bottom: 21px;
        border-bottom: 1px solid #3c3c3c;

        &:first-child {
            border-top: 1px solid #3c3c3c;
        }

        &::before {
            position: absolute;
            content: '';
            width: 0;
            height: 1px;
            bottom: 0;
            right: 0;
            background-color: red;
            transition: width 0.5s;
        }

        &::after {
            position: absolute;
            content: '';
            width: 0;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: #fff;
            transition: width 0.5s;
        }

        &--last {
            margin-bottom: 70px;
        }

        &--active {

            &::after {
                width: 100%;
            }
        }

        &--invalid {

            &::before {
                width: 100%;
            }
        }
    }

    &__label {
        position: absolute;
        top: 25px;
        left: 0;
        font-family: $mp-bold;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        transition: top 0.5s, font-size 0.5s, line-height 0.5s;

        &--active {
            font-size: 8px;
            line-height: 8px;
            top: 6px;
        }
    }

    &__input {
        appearance: none;
        border: none;
        outline: none;
        box-shadow: none;
        padding: 0;
        margin: 0;
        border-radius: 0;
        width: 100%;
        //background-color: rgba(255,255,255, 0.5);
        background: transparent;
        font-family: $mp-bold;
        font-size: 18px;
        line-height: 18px;
        color: #fff;
        text-transform: uppercase;

        &::placeholder {
            color: #fff;
        }
    }

    &__notice {
        opacity: 0;
        position: absolute;
        right: 0;
        bottom: -15px;
        font-family: $mp-bold;
        font-size: 8px;
        line-height: 8px;
        color: red;
        text-transform: uppercase;

        &--active {
            opacity: 1;
        }
    }

    &__submit-wrapper {
        position: relative;
        display: inline-block;
        padding-bottom: 10px;

        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: #fff;
        }

        &--disabled {
            opacity: 0.5;
        }
    }

    &__submit {
        appearance: none;
        border: none;
        outline: none;
        box-shadow: none;
        padding: 0;
        margin: 0;
        border-radius: 0;
        background: transparent;
        font-family: $mp-bold;
        font-size: 20px;
        line-height: 20px;
        color: #fff;
        text-transform: uppercase;
    }

    &__before-wrapper {
        display: none;
    }
}

@media (min-width: $screen-desktop) {

    .contact-form {

        &__input-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &::before {
                right: 0;
            }

            &::after {
                left: 140px;
            }

            &--last {
                margin-bottom: 105px;
            }

            &--active {

                &::after {
                    width: calc(100% - 140px);
                }
            }

            &--invalid {

                &::before {
                    width: calc(100% - 140px);
                }
            }
        }

        &__label {
            position: initial;
            font-size: 16px;
            line-height: 16px;
            padding-top: 5px;
            cursor: pointer;
            user-select: none;
        }

        &__input {
            width: 510px;
            min-width: 510px;
            font-size: 20px;
            line-height: 20px;
        }

        &__notice {
            font-size: 12px;
            line-height: 12px;
            bottom: -20px;
        }

        &__buttons-container {
            position: relative;
        }

        &__submit-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            transition: top 0.5s, padding-bottom 0.5s;

            &::before {
                position: absolute;
                content: '';
                bottom: 10px;
                left: 0;
                width: 0;
                height: 1px;
                background-color: #fff;
                transition: width 0.5s;
            }


            &:hover {
                top: -20px;
                padding-bottom: 30px;

                &::before {
                    width: 100%;
                }
            }

            &--disabled {
                cursor: default;
                opacity: 0.5;

                &:hover {
                    top: 0;
                    padding-bottom: 10px;

                    &::before {
                        content: none;
                    }
                }
            }
        }

        &__submit {
            cursor: pointer;
            font-size: 22px;
            line-height: 22px;

            &[disabled] {
                cursor: default;
            }
        }

        &__before-wrapper {
            display: block;
            font-family: $mp-bold;
            font-size: 14px;
            line-height: 24px;
            margin-left: auto;
            text-transform: uppercase;
        }
    }
}