.main-nav {
  display: none;
  position: relative;

  &__list {
    @include list;
  }

  &__button {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    position: fixed;
    width: 43px;
    height: 23px;
    top: 27px;
    right: 15px;
    cursor: pointer;
    z-index: 3;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 0px;
      background: transparent;
      box-shadow: 0px 0px 0px 1px #fff, 0px 10px 0px 1px #fff, 0px 22px 0px 1px #fff;
      transition: box-shadow 1s, background-color 1s, transform 1s;
    }

    &--active {
      width: 29px;
      height: 29px;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px #939393;
      transition: box-shadow 1s, border-radius 1s;

      &::after, &::before {
        position: absolute;
        content: '';
        box-shadow: none;
        width: 14px;
        height: 1px;
        top: 14px;
        left: 7.5px;
        background-color: #fff;
        transform: rotate(45deg);
        transition: width 1s transform 1s;
      }

      &::before {
        transform: rotate(-45deg);
      }
    }
  }

  &--active {
    display: block;
    opacity: 1;
    z-index: 0;
  }

  &--mobile {
    width: 100%;
    order: 2;

    & .main-nav {

      &__list {
        padding: 10vh 0;
      }

      &__item {
        margin-bottom: 5vh;

        & a {
          font-family: $pf-bold;
          font-size: 24px;
          color:$nav-color;
          text-transform: uppercase;
          text-decoration: none;
        }

        &--current {

          & a {
            color: #4196ff;
          }
        }
      }
    }
  }
}

@media (min-width: $screen-desktop) {

  .main-nav {
    display: block;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s, z-index 0.5s 1s;

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      margin-right: 1.56vw;

      a {
        position: relative;
        font-family: $mp-regular;
        font-size: 0.85vw;
        text-transform: uppercase;
        color: $d-nav-color;
        text-decoration: none;
        padding-bottom: 0.53vw;

        &::after {
          position: absolute;
          content: '';
          width: 0;
          height: 0.1vw;
          left: 0;
          bottom: 0;
          background-color: $d-nav-color;
          transition: width 0.5s;
        }

        &:hover {

          &::after {
            width: 100%;
          }
        }
      }

      &--current {

        a {
          color: #fff;

          &::after {
            width: 100%;
            background-color: #fff;
          }
        }
      }


    }

    &__button {
      top: 4.1vw;
      right: 8.75vw;
      width: 2.35vw;
      height: 1.15vw;

      &::after {
        box-shadow: 0px 0px 0px 1px #fff, 0px 0.52vw 0px 1px #fff, 0px 1.1vw 0px 1px #fff;
      }

      &--active {
        width: 2.5vw;
        height: 2.5vw;
        top: 3.4vw;
        border-radius: 50%;
        box-shadow: 0 0 1px 2px #939393;

        &::after, &::before {
          position: absolute;
          content: '';
          box-shadow: none;
          width: 1.2vw;
          height: 1px;
          top: 1.2vw;
          left: 0.6vw;
          background-color: #fff;
          transform: rotate(45deg);
        }

        &::before {
          transform: rotate(-45deg);
        }
      }
    }

    &--mobile {

      & .main-nav {

        &__list {
          flex-direction: column;
          padding-left: 30vw;
        }

        &__item {

          a {

            &::after {
              background-color: $nav-color;
            }
          }

          &--current {

            & a {
              &::after {
                content: none;
              }
            }
          }
        }
      }
    }

    &--active {
      opacity: 1;
      z-index: 3;
      transition: opacity 1s, z-index 1s;
    }
  }
}
