.page {
  position: relative;
  left: 0;
  right: 0;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

@media (min-width: $screen-desktop) {

  .page {
    position: initial;
    left: initial;
    right: initial;
    height: initial;
    max-height: initial;
    //
    // width: 100vw;
    // height: 100vh;
    // background: url(/img/bg1-d.jpg) center no-repeat;
    // background-size: cover;
  }
}
