.sections {

  &__list {
    @include list;
  }
}

@media (min-width: $screen-desktop) {

  .sections {

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100vw;
      height: 100vh;
      overflow: hidden;

      &--active {
        z-index: 2;
      }

      &--nodisplay {
        display: none;
      }
    }
  }
}
