.section {
  padding: 120px 0 50px;
  background: #000 center no-repeat;
  background-size: cover;

  &__container {
    @include container;
  }

  & h1 {
    font-family: $pf-extra-bold;
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;
    margin: 0 0 25px;
  }

  &__promo {
    font-family: $pf-medium;
    font-size: 23px;
    line-height: 32px;
    padding-right: 10px;
    margin-bottom: 75px;
  }
}
