.sections {

  &__list {
    @include list;
  }
}

@media (min-width: $screen-desktop) {

  .sections {

    &__item {
      display: none;
      height: 100vh;

      &--active {
        display: block;
      }
    }
  }
}
