//- Стандартный шаблон страницы
include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='plugins/owl/assets/owl.carousel.min.css')
      link(rel='stylesheet', href='plugins/owl/assets/owl.theme.default.min.css')
      link(rel='stylesheet', href='css/style.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page

      block header
        p Шапка

      block content
        p Cодержимое

    block page-bottom
      script(src='plugins/jquery/jquery-3.5.0.min.js')
      script(src='plugins/jquery/jquery.inputmask.min.js')
      script(src='plugins/jquery/inputmask.phone/inputmask.phone.extensions.min.js')
      script(src='plugins/jquery/inputmask.phone/inputmask.libphonenumber.extensions.min.js')
      script(src='plugins/jquery/inputmask.phone/phone-codes/phone.min.js')
      script(src='plugins/owl/owl.carousel.min.js')
      script(src='js/vendors.min.js')
      script(src='js/script.min.js')
