extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')
  style .page{background-color:#ffffff;}@media(min-width:1024px){.page{width:100vw;height:100vh;background:url(/img/bg1-d.jpg)center no-repeat;background-size:cover;}}

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  header.page-header
    .page-header__container
      .logo
        a(href="/").logo__link
          img(src="/img/logo-d.svg", alt="")

      nav.main-nav
        ul.main-nav__list
          li.main-nav__item
            a(href="#wellcome").main-nav__link Главная
          li.main-nav__item
            a(href="#about").main-nav__link О нас
          li.main-nav__item
            a(href="#product").main-nav__link Продукт
          li.main-nav__item
            a(href="#advantages").main-nav__link Преимущества
          li.main-nav__item
            a(href="#road-map").main-nav__link Дорожная карта клуба
          li.main-nav__item
            a(href="#faq").main-nav__link FAQ
          li.main-nav__item
            a(href="#contacts").main-nav__link Контакты

      .lang
        span.lang__current ru
        ul.lang__list
          li(data-name="ru").lang__item.lang__item--current ru
          li(data-name="en").lang__item en
          li(data-name="bu").lang__item bu
          li(data-name="gu").lang__item gu

      button.main-nav__button

block content
  .page__container
    main.page__main

      ul.sections__list

        li.sections__item(id="wellcome" data-name="wellcome", data-num="0")
          section.section.section--top
            .section__container.section__container--nopadding
              h1.section__title Insight Business Club
              .section__content
                p.section__promo Международное сообщество для бизнеса и инвестиций
                .flex-container.flex-container--center
                  a(href="#")#button-more.button.section__button
                    span Узнать больше

        li.sections__item(id="about" data-name="about", data-num="1")
          section.section
            .section__img.section__img--about
            .section__container.section__container--right.section__container--about
              h2.section__title О нас
              .section__content
                h3 Наша цель
                p.section__text Помощь опытным предпринимателям и инвесторам находить друг друга
                h3 Наша миссия
                p.section__text.section__text--nomargin Объединение материальных и интеллектуальных ресурсов для получения прибыли в любых условиях мировой экономики

        li.sections__item(id="product" data-name="product", data-num="2")
          section.section.section--reverse
            .section__img.section__img--product
            .section__container.section__container--left.section__container--product
              h2.section__title Продукт
              .section__content
                h3 Направление инвестиций
                p.section__text На сегодняшний день мы выбрали первым направлением инвестиции в предприятие стабильно работающее на рынке торговли драгоценными металлами в Объединенных Арабских Эмиратах и Африке.
                .flex-container
                  a(href="#")#button-tales.button.section__button
                    span  Узнать подробнее

        li.sections__item(id="advantages" data-name="advantages", data-num="3")
          section.section
            .section__img.section__img--advantages
            .section__container.section__container--right.section__container--advantages
              h2.section__title Наши преимущества
              .section__content
                ul.slider.owl-carousel.owl-theme
                  li.slider__item
                    h3 Избирательность и аналитика
                    p.section__text Качественный отбор перспективных проектов специалистами из разных областей экономики, совместный анализ рисков инвесторами и партнерами сообщества. Продолжительная  успешная история работы выбранных бизнесов для инвестиций.
                  li.slider__item
                    h3 Международный совместный опыт инвестиций
                    p.section__text Возможность инвестировать совместно с опытными инвесторами из различных отраслей экономики. Получение инвестиционного опыта в различных отраслевых направлениях.
                  li.slider__item
                    h3 Стабильность и устойчивость
                    p.section__text Устойчивая работа проектов сообщества даже в период кризиса мировой экономики. Долгосрочные планы по развитию.
                  li.slider__item
                    h3 Полная поддержка партнера клуба
                    p.section__text Техническая, маркетинговая, бухгалтерская, административная поддержка, а также рекомендации от юристов-инвесторов, которые являются частью сообщества.
                  li.slider__item
                    h3 Юридическая чистота и страхование
                    p.section__text Юридический анализ сделок и инвестиционного процесса. Страхование сделок.
                  li.slider__item
                    h3 Отсутствие членского взноса и комиссий за вход и выход
                    p.section__text Целью клуба является увеличение совместного достатка его членов. На данном этапе членские взносы и иные платежи не рассматриваются.

        li.sections__item(id="road-map" data-name="road-map", data-num="4")
          section.section.section--reverse
            .section__img.section__img--map
            .section__container.section__container--left.section__container--map
              h2.section__title Дорожная карта клуба
              .section__content
                ul.slider.owl-carousel.owl-theme
                  li.slider__item
                    h3 1. Финансирования товарных сделок
                    p.section__text Клуб на данный момент сосредоточен на работе с уже действующими предприятиями, которые будут наиболее устойчивыми в период кризиса и возможной предстоящей экономической рецессии.
                  li.slider__item
                    h3 2. Финансирование переработкис металлов платиновой группы
                    p.section__text На стадии готовности находится проект по переработке металлов платиновой группы, Клуб переходит на работу по нему, когда достигнут необходимый объём инвестиций для проект.
                  li.slider__item
                    h3 3. Создание новых совместных предприятий по сырьевому рынку
                    p.section__text По мере активного расширения клуба и привлечения значительных денежных сумм, мы планируем перестраивать нашу работу на более тесное взаимодействие с торговыми партнерами (создание совместных предприятий).
                  li.slider__item
                    h3 4. Создание международного устойчивого холдинга
                    p.section__text По вышеуказанным направлениям мы ориентированы на создание международного холдинга по торговле полезными ископаемыми, драгоценными металлами, металлами платиновой группы и другими ценными ресурсами, которые будут востребованы на рынке в любые экономические условия.

        li.sections__item(id="faq" data-name="faq", data-num="5")
          section.section.section--faq
            .section__container.section__container--faq
              .faq-top
              h2.section__title FAQ
              .section__content
                ul.accordion
                  li.accordion-list__item
                    .accordion-item.false
                      .accordion-item__line
                        h3.accordion-item__title Что такое бизнес-клуб Инсайт?
                        span.accordion-item__icon
                      div.accordion-item__inner
                        div.accordion-item__content
                          p.accordion-item__paragraph Бизнес-клуб Инсайт (Инсайт) – это международное сообщество людей, целью которого является инвестирование в перспективные проекты путем объединения своих денежных средств для получения стабильного пассивного дохода.
                  li.accordion-list__item
                    .accordion-item.false
                      .accordion-item__line
                        h3.accordion-item__title Есть ли членский взнос для вступления в клуб?
                        span.accordion-item__icon
                      div.accordion-item__inner
                        div.accordion-item__content
                          p.accordion-item__paragraph Одним из главных наших преимуществ является то, что вступление в клуб не подразумевает никакого членского взноса. При дальнейшем росте сообщества участников введение членского взноса целесообразно с целью использования бюджета клуба для организации совместных встреч и выездных мероприятий клуба, рекламы и маркетингового продвижения клуба. Обо всех нововведениях заранее будет сообщено на информационных ресурсах клуба.

                  li.accordion-list__item
                    .accordion-item.false
                      .accordion-item__line
                        h3.accordion-item__title Какая цель основателей клуба?
                        span.accordion-item__icon
                      div.accordion-item__inner
                        div.accordion-item__content
                          p.accordion-item__paragraph Основная цель клуба и его основная ценность – это создание сообщества опытных инвесторов из разных точек земного шара для осуществления совместных инвестиций в проекты, приносящие стабильный пассивный доход даже в кризис.
                  li.accordion-list__item
                    .accordion-item.false
                      .accordion-item__line
                        h3.accordion-item__title Зачем основатели организовали клуб, если итак от своих инвестиций они получают стабильный доход?
                        span.accordion-item__icon
                      div.accordion-item__inner
                        div.accordion-item__content
                          p.accordion-item__paragraph Многие высокодоходные проекты предполагают высокий порог входа, либо не имеют возможности работать с частными лицами. Клуб решает эту проблему путем создания специальных совместных партнерств для объединения своего сообщества инвесторов в единый пул и получения доступа к перспективным проектам.
                  li.accordion-list__item
                    .accordion-item.false
                      .accordion-item__line
                        h3.accordion-item__title За счет чего формируется доход члена клуба?
                        span.accordion-item__icon
                      div.accordion-item__inner
                        div.accordion-item__content
                          p.accordion-item__paragraph Доход члена клуба формируется за счет выплаты ему соответствующей части прибыли, получаемой партнерством (limited partnership, место регистрации: Великобритания) от софинансирования торговой деятельности зарубежных компаний, работающих на различных сырьевых рынках.
                  li.accordion-list__item
                    .accordion-item.false
                      .accordion-item__line
                        h3.accordion-item__title Выплачивает ли партнерство проценты на средства инвесторов или сделанные инвестиции?
                        span.accordion-item__icon
                      div.accordion-item__inner
                        div.accordion-item__content
                          p.accordion-item__paragraph Партнерство не является банком и не оказывает услуг по размещению депозитов или инвестированию в ценные бумаги. Партнерство не начисляет процентов, оно дает возможность совместно финансировать торговые сделки предприятий и получать от них доход. Партнерство выплачивает только доход, соответствующий доле инвестора в партнерстве.
                .flex-container.flex-container--center
                  a(href="#").button.button--large.section__button
                    span Скачать все вопросы и ответы
                .faq-bottom

        li.sections__item(id="contacts" data-name="contacts", data-num="6")
          section.section.section--reverse
            .section__img.section__img--contacts
            .section__container.section__container--left.section__container--contacts
              h2.section__title Контакты
              .section__content
                ul.contacts__list
                  li.contacts__item.contacts__item--mail
                    a(href="mailto:example555@gmail.com") example555@gmail.com
                  li.contacts__item.contacts__item--phone
                    a(href="tel:+12345555555") +1 (234) 555 55 55
                ul.social__list
                  li.social__item
                    a.social__link.social__link--tw(href="#twitter") Twitter
                  li.social__item
                    a.social__link.social__link--insta(href="#insta") Instagramm
                  li.social__item
                    a.social__link.social__link--in(href="#linkedin") Linkedin
                  li.social__item
                    a.social__link.social__link--fb(href="#fb") Fb

                a(href="#")#contact.button.section__button
                  span Перезвоните мне

      .flex-container.flex-container--center.flex-container--fixed-bottom
        a(href="#").nav-button.nav-button--next Смотрите дальше
        a(href="#").nav-button.nav-button--top Наверх

      #popup.popup
        .popup__container
          .popup__button.main-nav__button.main-nav__button--active
          form.contact-form(action="#")
            .contact-form__input-wrapper
              label.contact-form__label(for="name") Имя
              input#name.contact-form__input(type="text", name="name", autocomplete="off")
              span.contact-form__notice Введите имя
            .contact-form__input-wrapper
              label.contact-form__label(for="phone") Телефон
              input#phone.contact-form__input(type="phone", name="phone", autocomplete="off")
              span.contact-form__notice Введите телефон
            .contact-form__input-wrapper
              label.contact-form__label(for="email") E-mail
              input#email.contact-form__input(type="text", name="email", autocomplete="off")
              span.contact-form__notice Введите e-mail
            .contact-form__input-wrapper.contact-form__input-wrapper--last
              label.contact-form__label(for="country") Страна
              input#country.contact-form__input(type="text", name="country", autocomplete="off")
              span.contact-form__notice Введите страну
            .flex-container.contact-form__buttons-container
              label.contact-form__submit-wrapper.contact-form__submit-wrapper--disabled(for="subm")
                input.contact-form__submit(type="submit", id="subm", value="Отправить")
              .contact-form__before-wrapper
                span Вернуться назад


//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
