extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  header.page-header
    .page-header__container
      .logo
        a(href="/").logo__link
          img(src="/img/logo.png", alt="")

      nav.main-nav.main-nav--mobile
        ul.main-nav__list
          li.main-nav__item.main-nav__item--current(data-name="wellcome", data-num="0")
            a(href="#wellcome").main-nav__link Главная
          li.main-nav__item(data-name="about", data-num="1")
            a(href="#about").main-nav__link О нас
          li.main-nav__item(data-name="product", data-num="2")
            a(href="#product").main-nav__link Продукт
          li.main-nav__item(data-name="advantages", data-num="3")
            a(href="#advantages").main-nav__link Преимущества
          li.main-nav__item(data-name="road-map", data-num="4")
            a(href="#road-map").main-nav__link Дорожная карта клуба
          li.main-nav__item(data-name="faq", data-num="5")
            a(href="#faq").main-nav__link FAQ
          li.main-nav__item(data-name="contacts", data-num="6")
            a(href="#contacts").main-nav__link Контакты

      .lang
        span.lang__current ru
        ul.lang__list
          li(data-name="ru").lang__item.lang__item--current ru
          li(data-name="en").lang__item en
          li(data-name="bu").lang__item bu
          li(data-name="gu").lang__item gu

      button.main-nav__button

block content
  .page__container
    main.page__main
      ul.sections__list
        li.sections__item(id="wellcome" data-name="wellcome", data-num="0")
          section.section(style="background-image:url('/img/bg1.jpg');")
            .section__container
              h1.section__title Insight Business Club
              p.section__promo Международное сообщество для бизнеса и инвестиций
              a(href="#").button.section__button Узнать больше
        li.sections__item(id="about" data-name="about", data-num="1")
          section.section
            .section__container
              h2.section__title О нас
              p.section__promo Международное сообщество для бизнеса и инвестиций
              a(href="#").button.section__button Узнать больше
        li.sections__item(id="product" data-name="product", data-num="2")
          section.section
            .section__container
              h2.section__title Продукт
              p.section__promo Международное сообщество для бизнеса и инвестиций
              a(href="#").button.section__button Узнать больше
        li.sections__item(id="advantages" data-name="advantages", data-num="3")
          section.section
            .section__container
              h2.section__title Преимущества
              p.section__promo Международное сообщество для бизнеса и инвестиций
              a(href="#").button.section__button Узнать больше
        li.sections__item(id="road-map" data-name="road-map", data-num="4")
          section.section
            .section__container
              h2.section__title Дорожная карта клуба
              p.section__promo Международное сообщество для бизнеса и инвестиций
              a(href="#").button.section__button Узнать больше
        li.sections__item(id="faq" data-name="faq", data-num="5")
          section.section
            .section__container
              h2.section__title FAQ
              p.section__promo Международное сообщество для бизнеса и инвестиций
              a(href="#").button.section__button Узнать больше
        li.sections__item(id="contacts" data-name="contacts", data-num="6")
          section.section
            .section__container
              h2.section__title Контакты
              p.section__promo Международное сообщество для бизнеса и инвестиций
              a(href="#").button.section__button Узнать больше


//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
