@keyframes from-left {
  from {
    margin-left: -200%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes from-right {
  from {
    margin-left: 200%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes from-top {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}

@keyframes from-bottom {
  from {
    top: 100%;
  }

  to {
    top: 0%;
  }
}
