@keyframes from-left {
  from {
    left: -100%;
  }

  to {
    left: 0%;
  }
}

@keyframes from-right {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

@keyframes from-top {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}

@keyframes from-top-faq {
  0% {
    height: 200%;
  }

  100% {
    height: 100%;
  }
}

@keyframes from-bottom {
  from {
    top: 100%;
  }

  to {
    top: 0%;
  }
}

.title-animation {
  position: relative;
  width: 100%;
  animation: from-left 1s 1;
}

.content-animation {
  position: relative;
  width: 100%;
  animation: from-right 1s 1;
}
