* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: $mp-regular;
  margin: 0;
}

@media (min-width: $screen-desktop) {

  .faq-top {
    margin-bottom:10vw;
    height:1px;
  }

  .faq-bottom {
    margin-top:200px;
    height:1px;
  }
}
