$meny-color:          #d7d7d7;

$pf-black:            'PlayfairDisplay-Black', sans-serif;
$pf-extra-bold:       'PlayfairDisplay-ExtraBold', sans-serif;
$pf-medium:           'PlayfairDisplay-Medium', sans-serif;
$pf-semi-bold:        'PlayfairDisplay-SemiBold', sans-serif;
$pf-bold:             'PlayfairDisplay-Bold', sans-serif;
$mp-regular:          'MyriadPro-Regular', sans-serif;
$mp-bold:             'MyriadPro-Bold', sans-serif;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1200px;
