$nav-color:          #d7d7d7;
$d-nav-color:        #c7c7c7;

$pf-black:            'PlayfairDisplay-Black', sans-serif;
$pf-extra-bold:       'PlayfairDisplay-ExtraBold', sans-serif;
$pf-medium:           'PlayfairDisplay-Medium', sans-serif;
$pf-semi-bold:        'PlayfairDisplay-SemiBold', sans-serif;
$pf-bold:             'PlayfairDisplay-Bold', sans-serif;
$mp-regular:          'MyriadPro-Regular', sans-serif;
$mp-bold:             'MyriadPro-Bold', sans-serif;

$screen-desktop:       1024px;
$screen-tablet:        425px;
